* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Nunito Sans', sans-serif;
    transition: background-color 0.9s, color 0.9s;
}

.darkmode {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 96%);
}

.darkmode #header button {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 96%);
}

.darkmode input::placeholder {
    color: #FFFFFF; /* Change this to your desired color */
    /* Optional: Set the opacity to make sure the color appears as expected */
    
}

.darkmode #country-srh {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.5);
}

.darkmode #srch{
    box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.5);
    background-color: hsl(209, 23%, 22%);
}

#srch::placeholder {
    color: #ffffff; /* Light gray placeholder color */
}


.darkmode #srch::placeholder {
    color: hsl(0, 0%, 100%); /* White placeholder color in dark mode */
}

.darkmode input {
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
    box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.5);
}

.darkmode #options div {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 96%);
}

.darkmode #options div:hover {
    background-color: hsl(208, 27%, 24%);
}

.darkmode #flags a .text{
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 96%);
}

.darkmode #flags a .text:hover{
    background-color: hsl(208, 27%, 24%);
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid rgb(226, 226, 226);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 17px;
    transition: background-color 0.3s, color 0.3s;
    padding: 22px 10px;
}

body.darkmode #header {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 96%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

#header p {
    padding-left: 30px;
    font-size: 20px;
    font-weight: 900;
}
#option{
    display: none;
}
.options {
    display: none;
    padding-top: 10px;
    
}
#options {
    width: 100%;
    position: absolute;
    background: white;
    /* padding: 16px 14px 12px 20px; */
    right: 0px;
    box-shadow: -1px -1px 0px -1px rgba(20, 20, 20, 0.5), 0px 0px 6px -1px rgba(20, 20, 20, 0.5);
    top: 40px;
    border-radius: 0px 0px 5px 5px;
    background-color: hsl(0, 0%, 100%);

}

/* #options-hov:hover {
    background-color: #dddddd;
} */

#options div {
    padding: 12px 14px 12px 20px;
    text-align: left;
}

#options div:hover {
    background-color: #dddddd;
}

#country-srh:hover {
    background-color: white;
    cursor: pointer;
}

.darkmode #country-srh:hover {
    background-color: hsl(206, 23%, 24%);
}

#header button {
    background-color: white;
    border: none;
    padding-right: 45px;
    transition: background-color 0.3s, color 0.3s;
}



#header button:hover {
    cursor: pointer;
}

#mode {
    font-weight: 500;
}

#header img {
    width: 20px;
    height: 20px;
}

#search input {
    padding: 13px 40px;
    padding-right: 185px;
    opacity: .5;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: -1px -1px 0px -1px rgba(20, 20, 20, 0.5),
    0px 0px 4px -1px rgba(20, 20, 20, 0.5);
}

#search input::placeholder{
    color: black;
    padding-left: 10px;
}

#search {
    display: flex;
    justify-content: space-between;
}

#select {
    margin-right: 20px;
}

#img-srch {
    margin-left: 35px;

}

#select select{
    background-color: hsl(0, 0%, 100%);
    padding: 13px 18px;
    padding-right: 40px;
    border: none;
    margin-right: 87px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: -1px -1px 0px -1px rgba(20, 20, 20, 0.5),
    0px 0px 4px -1px rgba(20, 20, 20, 0.5);
}
    
#select select:hover {
    background-color: hsl(0, 0%, 84%);
}

#country-srh {
    background-color: hsl(0, 0%, 100%);
    width: 153px;
    padding: 12px 14px 12px 20px;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 82px;
    box-shadow: -1px -1px 0px -1px rgba(20, 20, 20, 0.5), 0px 0px 6px -1px rgba(20, 20, 20, 0.5);
    position: relative;
}

#country-srh:hover {
    background-color: #dddddd;
}

#country-srh:active {
    background-color: #c1bfbf;
}

#option {
    padding: 8px 10px;
}
.iconWithText{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px
}
#mode {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}


#search img {
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
}

input[type="search"] {
    -webkit-appearance: none; 
    -moz-appearance: textfield;
    appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

#srh-flg {
    margin-top: 55px;
}

#flags {
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
    gap: 20px;
    
}


#flags a {
    background-color: hsl(0, 0%, 100%);
    border-radius: 7px;
    text-decoration: none;
    color: black;
    height: fit-content;
    box-shadow: 0px 0px 6px -4px rgba(20, 20, 20, 0.5)
}

#flags, #search  {
    padding-left: 20px;
    margin-left: 20px;
}

#flags img {
    width: 287.25px;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#flags p {
    padding-bottom: 10px;
}

.text {
    padding-left: 25px;
    padding-bottom: 35px;
    padding-top: 15px;
    margin-top: -6px;
}

.text h4 {
    padding-bottom: 20px;
    font-weight: 900;
}
#image{
    height: 190px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#flags a:hover {
    background-color: rgb(188, 188, 188);
}

.darkmode #flags a:hover {
    background-color: hsl(188, 10%, 16%);
}

#srch:focus-within {
    
    outline: none;
    box-shadow: -1px -1px 0px -1px rgba(20, 20, 20, 0.5), 
    1px 1px 6px 2px rgba(20, 20, 20, 0.5);

}

#nores #noimg {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

/* Second html page (countryinfo.html) */

#infoflag {
    display: flex;
    align-items: center;
    gap: 135px;
    margin-left: 100px;
    width: 450px;
}

#father {
    display: flex;
    margin-top: 125px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* .textinfo #region, #textinfo, #nativeName, #population, #capital, #subregion, #tld, #currencies, #languages  {
    gap: 20px;
    font-weight: 900;
} */

.form-option{
    padding: 1rem;
}

#nores {
    margin: 0px;
    margin: auto;
    min-height: 500px;
    margin-top: 185px;
}

#backbtn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

}

#backbtn img {
    width: 330px;
    height: 300px;
}

#backbtn a {
    text-decoration: none;
    width: 37px;
    border-radius: 5px;
    padding: 6px 35px;
    color: #1f1f1f;
    font-size: 13px;
    box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.5);
}

#backbtn a:hover{
    cursor: pointer;
    background-color: #edeaea;
}

#backbtn a:active {
    background-color: #ccc;
}

#textinfo h2, h6 {
    padding: 5px;
    font-size: 12px;
    display: inline-block;
        width: 215px;
}

#h2info {
    margin-bottom: 10px;
    font-weight: 900;
}

.darkmode #backurl {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.5);
} 

.darkmode #backurl:hover {
    background-color: hsl(206, 24%, 17%);
}

.darkmode #backurl:active {
    background-color: #1f1f1f;
    box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.5);
}

.infoo {
    font-weight: 600;
    display: inline-block;
}

#nativeName {
    
}
/*-------------------------------*/
/* .form-select-container {
    min-width: 15rem;
}

.form-select-container > select {
    visibility: hidden;
    position: absolute;
  }
  
  .form-select-container > .form-select {
    border: 1px solid #CCC;
    border-radius: 10px;
    position: relative;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-select-container.active > .form-select {
    border-color: transparent;
  }
  
  .form-select-container > .form-select > .form-option-placeholder {
    padding: 1rem 1rem;
    position: relative;
    cursor: pointer;
    /*transition: padding 0.375s cubic-bezier(0.4, 0, 0.2, 1) 180ms; 
    transition: padding 0.3s cubic-bezier(0.4, 0, 0.2, 1) 120ms;
  }
  
  .form-select-container > .form-select > .form-option-placeholder::after {
    content: "";
    display: block;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    top: 50%;
    right: 1rem;
    border-bottom: 3px solid #CCC;
    border-left: 3px solid #CCC;
    transform: rotate(-45deg) translateY(-100%);
  }
  
  .form-select-container.active > .form-select > .form-option-placeholder {
    padding: 1.5rem 1rem;
    /*transition: padding 0.375s cubic-bezier(0.4, 0, 0.2, 1);*/
    /* transition: padding 0.3s cubic-bezier(0.4, 0, 0.2, 1); */
  /* } */
  /*
  .form-select-container > .form-select > .form-option-wrapper {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    background-color: #FFF;
    border-radius: 5px;
    /*transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 180ms cubic-bezier(0.4, 0, 0.2, 1) 180ms;*/
    /* transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 180ms cubic-bezier(0.4, 0, 0.2, 1) 180ms;
  }
  
  .form-select-container.active > .form-select > .form-option-wrapper {
    visibility: visible;
    opacity: 1;
    /*transition: opacity 0.375s cubic-bezier(0.4, 0, 0.2, 1) 100ms, visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1) 100ms;*/
    /* transition: opacity 0.375s cubic-bezier(0.4, 0, 0.2, 1) 120ms, visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  }
  
  .form-select-container > .form-select > .form-option-wrapper > .form-option-placeholder-container > .form-option-placeholder, .form-select-container > .form-select > .form-option-wrapper > .form-option-container > .form-option {
    cursor: pointer;
    transition: background-color 180ms ease-in-out;
  }
  
  .form-select-container > .form-select > .form-option-wrapper > .form-option-placeholder-container > .form-option-placeholder:hover, .form-select-container > .form-select > .form-option-wrapper > .form-option-container > .form-option:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .form-select-container > .form-select > .form-option-wrapper > .form-option-placeholder-container {
    border-bottom: 1px solid #E6E6E6;
  }
  
  .form-select-container > .form-select > .form-option-wrapper > .form-option-placeholder-container > .form-option-placeholder {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    color: #AAA;
  }
  
  .form-select-container > .form-select > .form-option-wrapper > .form-option-container {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    overflow: hidden; */ 
    /*transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1), padding-top 0.3s cubic-bezier(0.4, 0, 0.2, 1), padding-bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1);*/
    /* transition: height 180ms cubic-bezier(0.4, 0, 0.2, 1), padding-top 0.3s cubic-bezier(0.4, 0, 0.2, 1), padding-bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-select-container.active > .form-select > .form-option-wrapper > .form-option-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    /*transition: height 0.375s cubic-bezier(0.4, 0, 0.2, 1) 120ms, padding-top 0.5s cubic-bezier(0.4, 0, 0.2, 1) 180ms, padding-bottom 0.5s cubic-bezier(0.4, 0, 0.2, 1) 180ms;*/
    /* transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1) 120ms, padding-top 0.5s cubic-bezier(0.4, 0, 0.2, 1) 180ms, padding-bottom 0.5s cubic-bezier(0.4, 0, 0.2, 1) 180ms;
  }
  
  .form-select-container > .form-select > .form-option-wrapper > .form-option-container > .form-option {
    padding: 1rem;
  }
  
  .form-select-container > .form-select > .form-option-wrapper > .form-option-container > .form-option.active {
    background-color: #BBDEFB;
  }
  
  .form-select-container > .form-select > .form-option-wrapper > .form-option-container > .form-option.active:hover {
    background-color: #E3F2FD;
} 
*/